 
.whatHead{
    height: 400px;
    background-color: #caaef3;
}
.whatText{
    font-size: 120px;
}

@media only screen and (max-width: 768px) {
    .whatHead{
        height: 220px;
        background-color: #caaef3;
    }
    .whatText{
        font-size: 50px;
    }
     
     
}