 
.whatHead{
    height: 400px;
    background-color: #73a2d3;
}
.whatText{
    font-size: 150px;
}

@media only screen and (max-width: 768px) {
    .whatHead{
        height: 220px;
        background-color: #73a2d3;
    }
    .whatText{
        font-size: 50px;
    }
    .oooopa{
       
        transform: scale(0.5) !important;
    }
    .scrollmenu {
        background-color: #b6e6fa;
        overflow: auto;
        /* white-space: nowrap; */
      }
    .textDiv {
        display: inline-block;
        color: black;
        text-align: center;
        padding: 14px;
        text-decoration: none;
      }
      .reviewDone{
        height: 47px;
      }
}