.planWd{
    height: 1000px;
    margin-bottom: 100px;
}
.bg_black{
    background-color: black;
    height: 700px;
    position: relative;
    display: flex;
    justify-content: center;
}
.popUp{
 
   background-color: #7177ed !important;
    height: 850px;
    width: 1100px;
    position: absolute;
    top: 200px;
    border: 2px gray;
    border-radius: 15px;
}  
.second_col{
    height: 800px;
    border-radius: 0px 20px 0px 0px;
}
.upArrow {
    width: 0;
      height: 0;
      border-left: 203px solid transparent;
      border-right: 203px solid transparent;
      border-bottom: 130px solid white;
    margin-bottom: 8px;
    }
@media only screen and (max-width: 800px) {
     
    .planWd{
        height: 1450px;

    }
    .bg_black{
        background-color: black;
        height: 800px;
        /* position: relative; */
        display: flex;
        justify-content: center;
    }
    .popUp{
     
       background-color: white;
        height: 1250px;
        width: 360px;
        /* position: absolute; */
        top: 260px;
        border: 2px gray;
        border-radius: 15px;
    }
    .second_col{
        height: 650px;
        border-radius: 0px 20px 0px 0px;
    }
  }